#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
    padding: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.header-card {
    background: linear-gradient(90deg, #2563eb, #7c3aed);
    border-radius: 28px;
    padding: 48px 56px;
    color: white;
    box-shadow: 0 20px 40px rgba(37, 99, 235, 0.35);
    margin-top: 50px;
    margin-bottom: 50px;
}


.header-card h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 12px;
    letter-spacing: -0.5px;
}

.header-card p {
    font-size: 18px;
    opacity: 0.95;
    margin: 0;
}

.add-country-btn{
    background-color: rgb(228, 227, 227);
     color: #676868 ;
}

.add-country-btn:hover{
    background-color: rgb(95, 94, 94);
     color: #eff1f1 ;
}


@media (max-width: 768px) {
    .header-card {
        padding: 32px;
        border-radius: 22px;
    }

    .header-card h1 {
        font-size: 30px;
    }

    .header-card p {
        font-size: 16px;
    }
}
